// @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

// $color-text: #fff;
$color-heading: #cdd6f4;
$color-text: #bac2de;

// $color-background: linear-gradient(to right bottom, #ffb88e, #ea5753);
$color-background: #1e1e2e;

$color-container: #181825;

$color-list: #11111b;

$color-name: #313244;

html{
    font-size: 62.5%;
}

body {
    margin: 0;
    height: 100vh;
    display: grid;
    font-size: 1.6rem;
    place-items: center;
    // font-family: Rockwell, "Courier New", Courier, Georgia, Times, "Times New Roman", serif;
    font-family: sans-serif;
    padding: 0;
    line-height: inherit;
    
    // background: $color-container;
    background: $color-background;
    color: $color-text;
}

.hidden{
    visibility: hidden;
}

.main_box {
    width: 40vw;
    padding: 3rem;
    overflow-y: hidden;
    overflow-x: hidden;
    position: relative;
    border-radius: 3rem;
    background: $color-container;
    
    .title_box {
	.heading {
	    padding: 2rem 0;
	    font-size: 4rem;
	    text-align: center;
	    color: $color-heading;
	}
    }
    .challanges {
	font-size: 1.2rem;
	margin: 0;
	gap: 1rem;
	padding: 0;
	display: flex;
	list-style: none;
	place-items: center;
	flex-direction: column;
	counter-reset: my-counter;

	.challangec {
	    width: 40rem;
	    text-align: center;
	    color: $color-text;
	    border-radius: 3rem;
	    background: $color-list;
	    counter-increment: my-counter;
	    padding: 1.1rem 1.5rem 1.1rem 1.5rem;
	}
    }
}

.ide {
    width: 100vw;
    height: 100vw;
    overflow-y: hidden;
    overflow-x: hidden;
    position: relative;
    padding: 1rem;

    .tabs {
	font-size: 1.8rem;
	margin: 0;
	gap: 2rem;
	padding: 0 0 1rem 0;
	display: flex;
	list-style: none;
	place-items: center;
	flex-direction: row;

	a {
	    color: $color-text;
	}
    }

    .input_field {
	
    }
}
